:root {
--background: #dde1e7;
--script: #dde1e7;
--dark: #3d3d3d;
--ombre1: #cbcfd5;
--ombre2: #eff3f9;}

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*::before, ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

body {
	background: var(--background);
	height: 100vh;
	font-family: 'Roboto', arial;
	transition: all .5s ease;
}
 /* Titre: Sapox Visuals */
h1 {
	color: var(--script);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 30px;
	transition: all .3s ease;
}
/* Fond coloré du texte */
h1::before {
	content:'';
  	height: 70px;
  	width: 350px;
  	border-radius: 30px;
  	background-image: linear-gradient(45deg, #ff7b00, #ffaa00);
  	position: absolute;
  	display: flex;
  	justify-content: center;
  	z-index: -1;
}
/* Deuxième fond derrière l'autre permettant l'ombre orange*/
h1::after {
	content:'';
  	height: 70px;
  	width: 350px;
  	border-radius: 30px;
  	background-image: linear-gradient(45deg, #ff7b00, #ffaa00);
  	position: absolute;
  	display: flex;
  	justify-content: center;
  	z-index: -2;
  	filter: blur(20px);
}

/* Liste des réseaux sociaux */
.socials_list {
	display: flex;
	justify-content: center;
	padding: 40px 0;
}
/* Elements de la liste */
.socials {	
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px;
	font-size: 2em;
	height: 60px;
	width: 60px;
	align-items: center;
	border-radius: 35px;
	background: var(--background);
	box-shadow:  7px 7px 14px var(--ombre1),
             -7px -7px 14px var(--ombre2);
    cursor: pointer;
    transition: all .5s ease;
}
/* Modication du rayon du bord au survol */
.socials:hover {
	border-radius: 20px;
}
/* Modification des ombre des bouton */
.socials:active {
	box-shadow: inset 7px 7px 14px var(--ombre1),
            inset -7px -7px 14px var(--ombre2);
	}
/* Logos */
.fa-twitter,
.fa-youtube {
	transform: scale(0.75);
}
/* Colorisation du logo twitter */
.socials:nth-child(1) i{
	color: #64dfdf;
}
/* Colorisation du logo youtube */
.socials:nth-child(2) i{
	color: #d00000;
}

 /* Lune */
.fa-moon {
	color: var(--ecriture);
}
/* Bouton contenant la lune et permettant le mode sombre */
.moon {
	display: block;
	position: absolute;
	top: 40px;
	left: 40px;

	cursor: pointer;
	color: var(--dark);
	width: 60px;
	height: 60px;
	border-radius: 35px;
	background: var(--background);
	box-shadow: 7px 7px 14px var(--ombre1),
             	-7px -7px 14px var(--ombre2);
    transition: all .3s ease;
    border: 0;
   	outline: none;
}
.moon {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Modication du rayon du bord au survol */
.moon:hover {
	border-radius: 20px;
}
/* Modification des ombre du bouton */
.moon:active {
	box-shadow: inset 7px 7px 14px var(--ombre1),
            inset -7px -7px 14px var(--ombre2);
}

/* Modification des variables grâce à la fonction JavaScript*/
.dark-mode {
	--background: #3d3d3d;
	--script: black;
	--dark: #cfcfcf;
	--ombre1: #282828;
	--ombre2: #525252;
}

/* Liste des miniatures */
.main_list {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	left: -20px;
}
/* Eléments de la liste */
.list {
	position: relative;
	width: 320px;
	height: 180px;
	overflow: hidden;
	margin: 10px;
}
/* Image de chaque élément */
.thumbnail {
	display: block;
	width: 320px;
	height: 180px;

}
/* Objet permettant le flou de l'image*/
.overlay {
	position: absolute;
	bottom: -190px;
	background: transparent;
	backdrop-filter: blur(4px);
	overflow: hidden;
	width: 320px;
	height: 190px;
	transition: .5s ease;
	z-index: 0;
}
/* Montée de l'bjet au survol */
.list:hover .overlay {
	bottom: -10px;
}
/* Texte dans chaque élément */
.pList {
	display: flex;
	justify-content: center;
	align-items: center;

	padding: 10px 25px;
	background-image: linear-gradient(45deg, #ff7b00, #ffaa00);
	box-shadow: 0px 0px 15px 0px #ff7b00, 0px 0px 15px 0px #ffaa00;
	border-radius: 75px;
	font-size: 15px;
	color: var(--script)
}
/* Fond coloré de chague texte */
.bgList {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 20px;
}

/* Boite regroupant le texte et l'image */
.divToggleImage{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 40px;
}
/* Texte */
h3 {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	color: var(--dark);
	top: -60px;
	transition: all .5s ease;
}
/* Image se modifiant au clic */
#toggleImage {
	width: 320px;
	height: 180px;
	cursor: pointer;
	transition: all .2s ease;
}
/* Agrandissement de l'image au survol */
#toggleImage:hover {
	transform: scale(1.020);
	box-shadow: 0px 0px 30px -10px black;
}
/* Rétrécissement de l'image à l'appui */
#toggleImage:active {
	transform: scale(1);
}


/*Bouton code secret */
.butCode {
	position: absolute;
	top: 215px;
	left: 50%;
	transform: translate(-50%);
	display: block;
	overflow: hidden;
	background-image: linear-gradient(45deg, #ff7b00, #ffaa00);
	outline: none;
	cursor: pointer;
	border: 0;
	border-radius: 15px;
	width: 150px;
	height: 40px;
	transition: all .5s ease;
}
/* Texte cartoon */
.code {
	position: relative;
	color: var(--script);
	top: -2px;
	font-weight: bold;
	transition: all .5s ease;
}
/* Montée du texte au survol */
.butCode:hover .code {
	top: -40px;
}
/* Lien pour le site secret */
.linkCode {
	position: relative;
	top: 0;
	left: -6px;
	color: var(--script);
	text-decoration: none;
	transition: all .5s ease;
	font-weight: bold;
	width: 150px;
	height: 40px;
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* Montée du lien au survol */
.butCode:hover .linkCode {
	top: -43px;
}
