:root {
--background: #dde1e7;
--script: #2d3436;
--ombre1: #cbcfd5;
--ombre2: #eff3f9;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--background);
	height: 930px;
	font-family: 'Roboto';
	display: flex;
	align-items: center;
	justify-content: center;
}

div {
	text-align: center;
	transform: scale(1.25);
}